 <!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
  </head>
  <body>
  {{>header}}
  <p>lorem is here you don't see the lorem is here dan doreamon yours go and do.</p>
  {{>footer}}
  </body>
</html>
