 <!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
  </head>
  <link rel="stylesheet" href="/css/style.css">
  <body>
  {{>header}}
  <br><br><br>
  <form>
    <input type="text" placeholder="location">
    <button type="submit">Submit</button>
  </form>
  <br><br>
  <p id="msg-box-1"></p>
  <p id="msg-box-2"></p>
  <br><br><br><br><br><br><br><br>
  <hr><br>
  {{>footer}}
  <script src="/js/main.js"></script>
  </body>
</html>
